{% extends "base.html" %}

{% block content %}
<img src="https://res.cloudinary.com/dkujdm6hw/image/upload/v1658160446/GYM_BANNER_3_bcep5l.png" width=100%>
<div class="jumbotron">
    <div id ="jumbo-text" class="container">
      <h1 class="display-3">“Don’t just think. Don’t just talk. Don’t just dream. None of that matters. The only thing that matters is that you actually do. So: DO.”  – Jocko Willink</h1>
    
      
    </div>
  </div>
<!--CTA-->
{% include 'blog/partials/cta.html' %}
{% include 'blog/partials/bloglist.html' %}
{%endblock%}