{% extends 'base.html'%}
{%block content%}
<div class="container-fluid">
    <div class="row">
{% for routine in object_list %}
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="card text-center">
        {% if "placeholder" in routine.picture.url %}
        <img class="card-img-top" src="https://res.cloudinary.com/dkujdm6hw/image/upload/v1657451532/kkdtepdtmbnoagoqw63p.jpg" alt=" {{routine.title}}'s profile pic">
    {% else %}
        <img class="card-img-top" src="{{ routine.picture.url }}" alt=" {{routine.title}}'s profile pic">
    {% endif %}
       <div class="card-block">
           <h4 class="card-title">{{ routine.title}}</h4>
           <p class="card-text">{{ routine.description|safe|truncatewords:25}}</p>
           <p class="card-text text-muted h6">{{ routine.created_on}} <i class="far fa-heart"></i>
            {{ routine.number_of_likes }}</p>
           <a class="btn btn-default" href="{% url 'routine_detail' routine.slug %}">Read More</a>
       </div>
    </div>
 </div>    
{% endfor %}
</div>
</div>
{% include 'partials/pagination.html' %}
{%endblock%}
